

<footer class="main-footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 left">
                    <h2>Subscribe to our <strong>newsletter</strong></h2>
                    <p>Receive periodic articles, updates, freebies <br/> and premium items; every month.</p>
                </div>
                <div class="col-sm-4 right">
                    <form action="#">
                        <div class="input-group">
                            <input type="email" class="form-control" name="newsletter-email" placeholder="Your Email:">
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="submit"><i class="fa fa-check"></i></button>
                                </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-social">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="social-icons">
                        <li><a href="https://www.facebook.com/swedreng"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/swedreng"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/u/1/"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.instagram.com/anilgurler3897/"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <div class="logo">
                            <h1 style="font-weight: bold;font-style: italic;font-family: Times New Roman; color:forestgreen; font-size: 30pt; ">Activity</h1>
                        </div>
                        <div class="copyright">Copy right 2016 <br /> Developed by <a href="/contact">Anil Gurler</a></div>
                        <div class="motto">Proje icin bizi secin!</div>
                        <address>
                            Ýstanbul / Beylikduzu
                        </address>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Popüler paylaþimlar</h2>
                        <ul class="popular-post">
                            <li>
                                <figure>
                                    <a href="blog-single.html">
                                        <img src="images/footer-post01.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="text">
                                    <a href="blog-single.html">I Love Donut Bonbon Cackes</a>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <a href="blog-single.html">
                                        <img src="images/footer-post02.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="text">
                                    <a href="blog-single.html">Candy fruitcake biscuit chupa chups</a>
                                </div>
                            </li>
                            <li>
                                <figure>
                                    <a href="blog-single.html">
                                        <img src="images/footer-post03.jpg" alt=""/>
                                    </a>
                                </figure>
                                <div class="text">
                                    <a href="blog-single.html">Candy fruitcake biscuit chupa chups</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Twitter Takip</h2>
                        <div class="twitter-feed">
                            <figure>
                                <a href="#">
                                    <img src="images/anil.jpeg" alt=""/>
                                </a>
                            </figure>
                            <div class="text">
                                <a href="https://www.facebook.com/swedreng">Anýl Gürler</a>
                            </div>
                            <div class="content">Bizimle beraber olmaya devam edin .. <a href="/">Activity.com</a> Beni twitter adresimden takip edebilirsiniz .</div>
                            <a href="https://twitter.com/swedreng" class="btn btn-info btn-sm pull-left">Follow us</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="footer-widget">
                        <h2>Hakkýmda</h2>
                        <div class="text-widget">
                            <p>Anýl Gurler , Sakarya Üniversitesi bilgisayar bilisim bilimleri fakultesi bilgisayar mühendisliði bölümü son sýnýf öðrencisi..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>