body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}
body{

    margin-top:-10px;
}
#messageArea{
    display:none;
}
.error{
    color:red;

}
.private{
    color:gray;
    font-style: italic;

}
#kayFormArea{
    font-style: italic;
    padding: 5px;
    text-align: center;

}
#userFormArea{
    padding: 5px;
    text-align: center;

}
#username{
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;

}
#usernameKay{
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
}
#passwordKay{

    margin-left: auto;
    margin-right: auto;
    width: 30em;
    text-align: center;
}

